[submodule "src/js"]
	path = src/js
	url = https://github.com/paymentsds/mpesa-js-sdk
[submodule "src/php"]
	path = src/php
	url = https://github.com/paymentsds/mpesa-php-sdk
[submodule "src/python"]
	path = src/python
	url = https://github.com/paymentsds/mpesa-python-sdk
[submodule "src/ruby"]
	path = src/ruby
	url = https://github.com/paymentsds/mpesa-ruby-sdk
